<!-- <p>portfolio works!</p> -->


<head>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    </head>
    <body>
    
    <html>
    <h2>PORTFOLIO</h2>
    <h3>My Works</h3><br>
    <br><br>

<body>
    <div class="zoom">
        <div class="card ">
            <img src="assets/LOGIN.jpg" alt="Avatar" style="width:100%">
            <div class="container">
                <h4><b>Porac Bikers</b></h4> 
                <p>Web Design | Porac Community</p>
                <a href="" class="btn btn-primary">Go somewhere</a>
            </div>
        </div>
    </div>


    <div class="zoom">
        <div class="card">
                <img src="assets/sorellestore.JPG" alt="Avatar" style="width:100%">
                    <div class="container">
                    <h4><b>Sorelle Apparel</b></h4> 
                    <p>Web Design | Overrun Clothing</p>
                    <a href="http://sorelleapparel.com/store/" class="btn btn-primary">Go somewhere</a>
                    </div>
            </div>
        </div>


  <div class="zoom">
        <div class="card">
            <img src="assets/sorellehome.JPG" alt="Avatar" style="width:100%">
            <div class="container">
            <h4><b>Sorelle Apparel</b></h4> 
            <p>Web Design | Overrun Clothing</p>
            <a href="http://sorelleapparel.com/" class="btn btn-primary">Go somewhere</a>
             </div>
        </div>
    </div>

</body>